<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game.css" />
    <title>Stop Slots</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="warning">
        <div class="text"></div>
        <div class="play block minor">
          <img src="../png/arrow.png" alt="again" />
        </div>
      </div>

      <a href="./main.html" class="home block">HOME</a>
      <div class="balance_field block"></div>

      <div class="tube_cont">
        <img src="../png/tube.png" alt="tube" class="tube_left" />
        <div class="circle_cont"></div>
        <img src="../png/tube.png" alt="tube" class="tube_right" />
      </div>

      <div class="bot_cont">
        <div class="name"></div>
        <div class="bot_balance_cont">
          balance: <span class="bot_balance"></span>
        </div>
      </div>

      <div class="bet_info_cont"></div>

      <div class="field_cont">
        <div class="field"></div>
        <div class="field_control">
          <img src="../png/random.png" alt="random" class="random" />
          <div class="indicator_cont"></div>
          <img src="../png/cross.png" alt="cross" class="cross" />
        </div>
      </div>

      <div class="control">
        <img src="../png/button_auto.png" alt="auto" class="auto" />
        <div class="play block main">
          <img src="../png/arrow.png" alt="arrow" />
        </div>
      </div>
    </div>
    <script src="../scripts/game.js" type="module"></script>
  </body>
</html>
