<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Stop Slots</title>
  </head>
  <body>
    <div class="wrapper">
      <img src="../png/cards.png" alt="cards" class="cards" />
      <img src="../png/cubes.png" alt="cubes" class="cubes" />
      <img src="../png/diamond.png" alt="diamond" class="diamond1" />
      <img src="../png/diamond.png" alt="diamond" class="diamond2" />

      <div class="balance_field block"></div>
      <a href="./game.html" class="button block">PLAY</a>
    </div>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
